@charset "ISO-8859-1";
html {
  scroll-behavior: smooth;
}

* {
margin: 0px;
padding: 0px;
}

body{
    width: 100%;
    height: 100%;
}

.navabrs{
    width:100%;
    padding: 0px; 
}

.logo{
    color: white;
    padding: 14px 16px;
    float: left;
}

.links{
    background-color: #333;
    width: 100%;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  .links ul  li {
    float: right;
  }

  .links ul  li:hover{
    background-color:rgb(77, 77, 77);
}
  
  .links ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .homepage{
    height: auto;
    width: 100%;
  }

  .headersec{
      height: 40rem;
      width: 100%;
      background: linear-gradient(306deg, rgba(0,103,184,1) 13%, rgba(26,142,185,1) 100%);
  }
  .headersec h1{
      padding-top: 10rem;
      text-align: center;
      color:#F6F4F2;
  }
  .headersec h5{
      
    padding-top: 2rem;
    text-align: center;
    color:#d7dbe5;
}

  .resource{
    height: 50rem;
    width: 100%;
    
    
 
}
.resource h3{
  padding-top: 2rem;
  text-align: center;
}
.resource ul {
    width: auto;
    list-style-type: none;
    margin: 0px;
    padding-left: 10rem;
    overflow: hidden;
    
  }
  
  .resource ul  li {
    float: left;
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    border: 0.1rem #98DDDE;
    border-radius: 1rem;
    background-color: #98DDDE;
  }

  .resource ul  li:hover{
      background-color: #b3dbdb;
  }
  
  .resource ul li a {
    font-size: 1.5rem;
    display: block;
    color: black;
    padding-top:6rem;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }

.feedback{
  padding-top: 2rem;
  height: max-content;
  width: 100%;
  background: linear-gradient(306deg, rgba(75,159,225,1) 0%, rgba(205,218,255,1) 100%);
}

.feedback h3{
  padding-top: 5rem;
  color: black;
  text-align: center;
}

.fform{
  
  padding: 5rem;
  padding-top: 2rem;
  margin: 0 auto; 
  width:40rem;
}

/* Full-width inputs */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}



.footer{
    height: 10rem;
    width: 100%;
    background-color: #333;
    
}

.footer h6{
  color: white;
  text-align: center;
  padding-top: 8rem;
}